.views {
  margin: auto;
  position: relative;
  height: 100vh;
  padding: 20px;
  background: var(--black);
  color: var(--green);
}

.view {
  transition: opacity 1s;
  max-width: calc(100vw - 20px);
  width: 400px;
  margin: auto;
}

.view.hidden {
  position: absolute;
  top: 10px;
  opacity: 0;
  z-index: -1;
}

.skipLink {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.skipLink img {
  height: 16px;
  transform: rotate(180deg);
}

@media screen and (max-width: 400px) {
  .views {
    padding: 10px;
  }
}
