.views {
  margin: auto;
  position: relative;
  height: 100vh;
  padding: 20px;
  background: var(--black);
  color: var(--green);
}

.view {
  transition: opacity 1s;
  max-width: calc(100vw - 20px);
  width: 400px;
  margin: auto;
}

.view.hidden {
  position: absolute;
  top: 10px;
  opacity: 0;
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .views {
    padding: 10px;
  }
}
